//Color Variables
$color-primary: #c69963;
$color-primary-dark: #828451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-light-1: #54483a;
$color-grey-light-1: #6d5d4b;

//Font Variables
$color-grey-light-1: "Nunito", sans-serif;
$color-grey-light-1: "Josefin Sans", sans-serif;